---
import Layout from '../layouts/Layout.astro';
import Scene3D from '../components/Scene3D.astro';
---

<Layout title="B 3D - Interactive">
  <section class="h-screen w-full relative">
    <Scene3D />
  </section>
</Layout>
