---
import NoiseBackgroundScript from '../scripts/noiseBackground.ts?url';
---

<div id="canvas-noise" class="absolute inset-0 -z-10 bg-[#09090e]"></div>

<script type="module" src={NoiseBackgroundScript}></script>
