---
import "../scripts/noiseBackground";
---

<div id="canvas-noise" class="absolute inset-0 -z-10 bg-[#09090e]"></div>

<script>
  import { initNoiseBackground } from "../scripts/noiseBackground";
  initNoiseBackground('canvas-noise');
</script>
