---
import "../scripts/scene3d";
---

<div
    class="h-full w-full flex items-center justify-center"
    id="canvas-container"
>
</div>

<script>
  import { initScene3D } from "../scripts/scene3d";
  initScene3D();
</script>
