---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  icon: string;
}

const { href, icon } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener"
  class="inline-flex place-content-center p-3 backdrop-blur-xl border border-white/10 rounded-full text-gray-300 hover:text-white hover:border-white/50 transition-all duration-200"
>
  <Icon name={icon} class="w-6 h-6" />
</a>
